@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
<title>ברוכים הבאים לאתר הקניות המסחרי</title>
</head>
<body>
    <div class="intro">
        <p style="font-size: 14px;">
            <br>
            באתר זה תוכלו למצוא מגוון מוצרים ותוכלו להינות מהשירות הטוב ביותר
            <br>
            <br>
        </p>
    </div>

    <div class="container">
            <h2>המוצרים המומלצים עבורך :</h2>
        <div class="animated zoomInDown">
            <div class="row">
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/1.jpg" alt="Milk">
                            <div class="caption">
                                <p>חלב</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/2.jpg" alt="Kotej">
                            <div class="caption">
                                <p>קוטג'</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/3.jpg" alt="Meat">
                            <div class="caption">
                                <p>בשר מס 5</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/4.jpg" alt="Tomato">
                            <div class="caption">
                                <p>עגניות</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/5.jpg" alt="Cucamber">
                            <div class="caption">
                                <p>מלפפון</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/6.jpg" alt="Sigure">
                            <div class="caption">
                                <p>סיגריות</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>
    if (!window.jQuery) document.write('<script src="js/jquery-3.0.0.min.js"><\/script>');
</script>
<script src="~/js/general.js"></script> <!-- Resource CartJS -->
</html>
