@{
    ViewData["Title"] = "Home Page";
}
<html>
<head>
<title>ברוכים הבאים לאתר הקניות המסחרי</title>
</head>
<body>
    <div class="intro">
        <p>
            ברוכים הבאים לאתר האינטרנט החדש שלנו!
            <br>
            באתר זה תוכלו למצוא מגוון מוצרים ותוכלו להינות מהשירות הטוב ביותר
        </p>
    </div>

    <div class="container">
            <h2>המוצרים החמים שלנו</h2>
            <p>לכתוב מלל כלשהו</p>
        <div class="animated zoomInDown">
            <div class="row">
                vj<div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/1.jpg" alt="Milk">
                            <div class="caption">
                                <p>חלב</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/2.jpg" alt="Kotej">
                            <div class="caption">
                                <p>קוטג'</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/3.jpg" alt="Meat">
                            <div class="caption">
                                <p>בשר מס 5</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/4.jpg" alt="Tomato">
                            <div class="caption">
                                <p>עגניות</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/5.jpg" alt="Cucamber">
                            <div class="caption">
                                <p>מלפפון</p>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="thumbnail">
                        <a href="ADDTOCART" target="_blank">
                            <img class="products_picutures" src="~/images/products/6.jpg" alt="Sigure">
                            <div class="caption">
                                <p>סיגריות</p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
