
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="~/css/cart.css"> <!-- Resource style -->
    <style>
        ul {
            list-style-type: none;
        }
    </style>
    <div style="text-align : center">
        <form action="">
            <button class="ui blue button" style="font-size: 20px" formaction="/Products/Milky">חלב</button>
            <button class="ui red button" style="font-size: 20px" formaction="/Products/Meat">בשר</button>
            <button class="ui green button" style="font-size: 20px" formaction="/Products/Vegatable">ירקות</button>
            <button class="ui gray button" style="font-size: 20px" formaction="/Products/General">כללי</button>
        </form>
        @RenderBody()
    </div>
    <script src="~/js/cart.js"></script>
